services:
  magister-bot:
    build: .
    container_name: magister_surveillance
    restart: unless-stopped

    environment:
      - SCHOOL=https://YOURSCHOOL.magister.net
      - USERNAME=YOUR_USERNAME
      - PASSWORD=YOUR_PASSWORD
      - DISCORD_WEBHOOK=YOUR_WEBHOOK_URL
      - TOKEN_FILE=/app/data/access_token.txt
      - SLEEP_START=23
      - SLEEP_END=6
      - CHECK_INTERVAL=120

    volumes:
      - ./magister_data:/app/data

    deploy:
      resources:
        limits:
          memory: 1G
